body {
    font-family: Arial, sans-serif;
    background-color: #ffd7df;
    margin: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.gender-section input[type="radio"] {
    margin-left: 25px;
}

.gender-section label {
    display: inline;
    margin-left: 5px;
    margin-right: 150px;
}

h1 {
    text-align: center;
    color:#51257a;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input {
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

select {
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%; /* Make both input and select elements take full width */
}

select option:first-child {
    color: #999;
}

/*input[type="submit"] {
    background-color: #bf88e4;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #51257a;
}*/

.redirect-link {
    text-align:center;
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: #fff;
    background-color:#bf88e4;
    border-radius: 5px;
    border-color: #bf88e4;
}

.redirect-link:hover {
    background-color:#51257a;
    cursor: pointer;
    border: #51257a;
}
